@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  background-color: black;
}

/* Baseline layout: 1536x864 (vw/vh converted to px) */
.logoSect {
  background-color: white;
  height: 864px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-top: 69px;
}

#three-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  overflow: hidden;
}

.logo {
  z-index: 2;
  position: relative;
  bottom: 77px;
  width: 1229px;
  height: auto;
}

/* Circle container */
.circle-container {
  position: absolute;
  top: 154px;
  left: 0%;
  width: 3072px;
  max-width: none;
  transform: translateX(-25%);
}

.circle-container svg {
  width: 100%;
  height: auto;
}

.bottom-curve {
  position: absolute;
  bottom: -2534px;
  left: 0;
  width: 3072px;
  transform: translateX(-25%) rotate(180deg);
}

.info {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  min-height: 864px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 3;
  bottom: 154px;
}

.subtext {
  font-size: 61px;
  font-weight: 900;
  z-index: 3;
  text-align: center;




}.shadow {
  font-size: 246px;
  font-weight: 900;
  z-index: 3;
  text-align: center;
  line-height: 0.75;

  /* Two-tone fill */
  background: 
    linear-gradient(to bottom, white 50%, #c7ffd9 50%);
  -webkit-background-clip: text;
  color: transparent;

}

/*carousel stuff*/
.tutorCarousel{
  padding-bottom: 100px;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 864px;
  padding: 0 40px;
  background-color: black;
}

.wrapper {
  max-width: 1500px;
  width: 100%;
  position: relative;
  margin-top: -1037px;
}

/*the left and right clickers*/
.wrapper i {
  height: 30px;
  width: 30px;
  background: white;
  text-align: center;
  line-height: 30px;
  border-radius: 20%; /*might change this one to 50% later depending if Andrew want's a circle or not*/
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 10;
}

.wrapper i.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

/*need to add card fitting into allocated space so we can have these 2 arrows in the same position*/
.wrapper i:first-child {
  left: -15px;
  z-index: 20;
}

.wrapper i:last-child {
  right: -11px;
  z-index: 20;
}

/*How many tutor cards and how big*/
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 5) -12px);
  gap: 40px;
  overflow-x: scroll;
  overflow-y: visible;
}

/*tutor cards*/
.carousel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5%;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge (legacy) */
  padding-top: 150px;
  padding-bottom: 150px;
}

.carousel::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.carousel .tutorCard {
  flex: 0 0 auto;
  width: 450px;
  height: 450px;
  background: linear-gradient(to bottom, #77F868, #01F5B4);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 1rem;
  transition: transform 0.2s;
  z-index: 10;
}

.carousel .tutorCard .img {
  width: auto;
  height: 575px;
  align-items: flex-end;
  justify-content: center;
  top: 100%;
  margin-top: -140px;
}

.tutorItem {
  position: relative;
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.bio {
  position: absolute;
  top: 100%;
  left: 10%;
  z-index: 9;
  width: 80%;
  height: 30%;

  overflow: hidden;
  max-height: 1000px;
  transform: scaleY(0);
  transform-origin: top;
  transition: max-height 0.4s ease, transform 0.2s ease;

  background: rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #000000;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}

.tutorItem.open .bio {
  max-height: 330px; /* or larger than expected content */
  transform: scaleY(1);
}

.tutorItem:hover .tutorCard {
  transform: scale(1.05);
}

.tutorItem.open:hover .bio {
  transform: scaleY(1) scale(1.05);
}


.carousel .tutorCard h2 {
  color: white;
  font-size: 1.2rem;
  margin: 0.5rem 0 0.2rem;
}

.carousel .tutorCard span {
  color: #00ff66;
  font-size: 0.9rem;
}

.tutorCard .img img {
  width: 100%; /* Slightly smaller to fit inside the border idk why it has to be 3 smaller tho*/
  height: 100%;
  object-fit: contain;
}

/*at the moment this does nothing, stay tuned*/
.card h2 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 30px 0 5px;
}
.card span {
  color: red;
  font-size: 1.3rem;
}

/*responses for different screen sizes, in the future we should change it to automatic so we save space*/
@media screen and (max-width: 1200px) {
  .logoSect {
    height: 760px;
    padding-top: 60px;
  }

  .logo {
    width: 980px;
    bottom: 60px;
  }

  .circle-container {
    top: 120px;
    width: 2500px;
  }

  .bottom-curve {
    bottom: -2050px;
    width: 2500px;
  }

  .info {
    min-height: 760px;
    bottom: 120px;
  }

  .subtext {
    font-size: 48px;
  }

  .shadow {
    font-size: 192px;
  }

  .flexContainer {
    min-height: 760px;
  }

  .wrapper {
    margin-top: -900px;
  }

  .carousel .tutorCard .img {
    width: 200px;
    height: 230px;
  }

  .infoGrid {
    padding: 64px;
    gap: 24px;
    margin-top: -360px;
  }

  .infoGrid .gridBox {
    border: 12px solid;
  }

  .infoGrid .gridBox:nth-child(1) { height: 240px; }
  .infoGrid .gridBox:nth-child(2) { height: 360px; }
  .infoGrid .gridBox:nth-child(3) { height: 240px; }
  .infoGrid .gridBox:nth-child(4) { height: 360px; margin-top: -120px; }
  .infoGrid .gridBox:nth-child(5) { height: 240px; }
  .infoGrid .gridBox:nth-child(6) { height: 360px; margin-top: -120px; }

  .foreword {
    height: 760px;
  }

  .foreword .forewordContent {
    top: 380px;
  }

  .wrapper .carousel {
    grid-auto-columns: calc((100% / 4) - 9px);
  }
}

@media screen and (max-width: 900px) {
  .logoSect {
    height: 640px;
    padding-top: 50px;
  }

  .logo {
    width: 800px;
    bottom: 50px;
  }

  .circle-container {
    top: 100px;
    width: 2000px;
  }

  .bottom-curve {
    bottom: -1650px;
    width: 2000px;
  }

  .info {
    min-height: 640px;
    bottom: 100px;
  }

  .subtext {
    font-size: 36px;
  }

  .shadow {
    font-size: 150px;
  }

  .flexContainer {
    min-height: 640px;
  }

  .wrapper {
    margin-top: -700px;
  }

  .carousel .tutorCard .img {
    width: 170px;
    height: 200px;
  }

  .infoGrid {
    padding: 48px;
    gap: 20px;
    margin-top: -300px;
  }

  .infoGrid .gridBox {
    border: 10px solid;
  }

  .infoGrid .gridBox:nth-child(1) { height: 200px; }
  .infoGrid .gridBox:nth-child(2) { height: 300px; }
  .infoGrid .gridBox:nth-child(3) { height: 200px; }
  .infoGrid .gridBox:nth-child(4) { height: 300px; margin-top: -100px; }
  .infoGrid .gridBox:nth-child(5) { height: 200px; }
  .infoGrid .gridBox:nth-child(6) { height: 300px; margin-top: -100px; }

  .foreword {
    height: 640px;
  }

  .foreword .forewordContent {
    top: 320px;
  }

  .wrapper .carousel {
    grid-auto-columns: calc((100% / 3) - 6px);
  }
}

@media screen and (max-width: 750px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 4px);
  }
}

@media screen and (max-width: 400px) {
  .wrapper .carousel {
    grid-auto-columns: calc(100% - 2px);
  }
}

.infoGrid {
  width: 100%;
  padding: 77px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 31px;
  background: black;
  margin-top: -461px;
  z-index: 2;
}

.infoGrid .gridBox {
  background: rgba(0, 0, 0, 0);
  border: 15px solid;
  border-radius: 1rem;
  padding: 1.5rem;
  color: white;
  font-size: 1rem;
  line-height: 1.4;
  text-align: center;
  z-index: 2;
}

.infoGrid .gridBox:nth-child(1) { height: 307px; border-color:  #00ff66;}
.infoGrid .gridBox:nth-child(2) { height: 461px; border-color:  #FD914A; }
.infoGrid .gridBox:nth-child(3) { height: 307px; border-color:  #ECF753; }
.infoGrid .gridBox:nth-child(4) { height: 461px; border-color:  #37C1F8; margin-top: -154px;}
.infoGrid .gridBox:nth-child(5) { height: 307px; border-color:  #FF9999; }
.infoGrid .gridBox:nth-child(6) { height: 461px; border-color:  #CF90FC; margin-top: -154px;}

.foreword {
  width: 100%;
  height: 864px;
  background: white;
  position: relative;
  z-index: -1; 
}

.foreword .forewordContent {
  position: relative;
  margin: 0 auto;
  color: black;
  top: 432px;
  text-align: center;
}

